.search{
  width: 90%;
  margin: 0 auto;
}
.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: .5em;
  text-transform: uppercase;

  &__item{
    padding: .5em 1em;
    margin: .5em;
  }

  &__item:first-child{
    background: var(--ion-color-secondary);
  }
  &__item:nth-child(2){
    background: var(--ion-color-warning);
  }
  &__item:nth-child(3){
    background: var(--ion-color-danger);
  }

  .selected{
    position: relative;
    &:after{
      position: absolute;
      top: 110%;
      left: 50%;
      transform: translate(-50%, -110%);
      content: '';
      width: 50%;
      height: 2px;
      background-color: inherit;
    }
  }
}


