
.categories{
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: .5em;
  text-transform: uppercase;

  &__item{
    padding: 1em 2em;
  }

  &__item:first-child{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }
  &__item:nth-child(2){
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  }
  &__item:nth-child(3){
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  }
}
