
.categories{
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: .5em;
  text-transform: uppercase;

  &__item{
    padding: 1em 2em;
    background-color: pink;
    border: 2px solid deeppink;
  }
}
