<ion-menu contentId="main-content" class="menu">
  <ion-header class="menu__header">
    <ion-toolbar color="warning">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item [ngClass]="selected === routingElements.categories ? 'selected' : ''" routerLink="/home/categories"
              (click)="closeMenu(routingElements.categories)">
      <ion-button class="menu__btn" fill="clear">categories</ion-button>
    </ion-item>
    <ion-item [ngClass]="selected === routingElements.random ? 'selected' : ''" routerLink="/home/random"
              (click)="closeMenu(routingElements.random)">
      <ion-button class="menu__btn" fill="clear">random</ion-button>
    </ion-item>
    <ion-item [ngClass]="selected === routingElements.favorites ? 'selected' : ''" routerLink="/home/favorites"
              (click)="closeMenu(routingElements.favorites)">
      <ion-button class="menu__btn" fill="clear">favorites</ion-button>
    </ion-item>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-button color="primary" (click)="logOut()">Log out</ion-button>
      </ion-buttons>
      <ion-title>{{(user$ | async)?.email}}</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-segment [(ngModel)]="selected">
        <ion-segment-button routerLink="/home/categories" value="categories">
          <ion-label>categories</ion-label>
        </ion-segment-button>
        <ion-segment-button routerLink="/home/random" value="random">
          <ion-label>random</ion-label>
        </ion-segment-button>
        <ion-segment-button routerLink="/home/favorites" value="favorites">
          <ion-label>favorites</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-router-outlet></ion-router-outlet>
  </ion-content>

</div>
